@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  outline: none;
}
a {
  color: #0085ee;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.banner-logo {
  height: auto;
  padding: 75px 0 10px 0;
}
.banner-title {
  color: #fff;
  font-weight: normal;
  text-transform: capitalize;
}
.content-wrap {
  background: #f9f9f9;
}
.container-title {
  display: block;
  margin: 0 auto;
  font-weight: normal;
  border-bottom: 1px solid #d4d4d4;
/* 带下划线的 h2 标题，位于 banner 下方 */
}
.scroll-top {
  cursor: pointer;
  opacity: 0;
  position: fixed;
  box-sizing: border-box;
  right: 2em;
  bottom: 40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #0085ee;
  border-radius: 20px;
  transform: translate(80px, 0);
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.12), 0 3px 3px 0 rgba(0,0,0,0.24);
}
.arrow-icon {
  background-image: url("../images/top.png");
  width: 30px;
  height: 30px;
  display: block;
  background-size: contain;
}
.opacity {
  opacity: 1;
  transform: translate(0, 0);
}
.fixed-toc {
  position: fixed;
  top: 90px;
}
.nav {
  position: fixed;
  right: 0;
  left: 0;
  box-shadow: 0 1px 3px 0 rgba(0,34,77,0.1);
  background: #fff;
}
.nav .logo {
  line-height: 55px;
  vertical-align: middle;
}
.nav .logo img {
  width: 42px;
  vertical-align: middle;
}
.nav .nav-item li a:hover {
  color: #0085ee;
}
.nav-item .active {
  background: rgba(148,148,148,0.3);
}
.nav-item .active a {
  color: #0085ee !important;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.97);
}
.overlay ul {
  display: block;
  margin: 40px 10px 0 10px;
}
.overlay li {
  display: block;
  margin: 20px auto 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}
.overlay li a {
  color: #fff;
  font-size: 1em;
}
.overlay-hugeinc {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}
.overlay-open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.overlay-btn {
  cursor: pointer;
}
.overlay-btn span {
  display: block;
  text-align: right;
  margin: 20px 0 20px 20px;
  padding-right: 10px;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .nav {
    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .nav-item .active {
    background: rgba(148,148,148,0.13);
  }
  .overlay {
    background-color: rgba(186,186,186,0.7);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .overlay li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
}
.home {
  text-align: center;
  padding-bottom: 20px;
  background: #24282b url("../images/banner.png") no-repeat;
  background-size: cover;
}
.home-link {
  display: block;
  color: rgba(255,255,255,0.5);
  text-decoration: underline;
  padding-top: 20px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 320px) {
  .container .banner-title {
    font-size: 48px;
  }
  .lately .container-title,
  .about .container-title {
    font-size: 24px;
  }
  .about-page span,
  .about-me span {
    font-size: 16px;
  }
  .content .content-title {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .nav .nav-item {
    display: none;
  }
  .nav-btn {
    position: relative;
    float: right;
    margin: 20px 0 0 20px;
    cursor: pointer;
  }
  .content-wrap {
    padding: 15px 0 20px 0;
  }
  .banner-logo {
    max-width: 35%;
  }
  .banner-title {
    font-size: 52px;
  }
  .design .container .design-title {
    font-size: 32px;
  }
  .container-title {
    font-size: 30px;
  }
  .content-img {
    height: 160px;
/* 内容卡片-图片容器宽度 */
  }
  .content-title {
    font-size: 1.5em;
  }
  .content-text p,
  .content-text .read-btn {
    font-size: 16px;
  }
  .content-text .read-btn {
    text-align: right;
  }
  .scroll-top {
    right: 1em;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    padding-left: 0;
    padding-right: 0;
  }
  .nav .nav-item {
    display: block;
    float: right;
  }
  .nav .nav-item li {
    display: inline-block;
    line-height: 55px;
    padding: 0 15px;
  }
  .nav .nav-item li a {
    display: block;
    color: #000;
    font-size: 18px;
  }
  .nav-btn {
    display: none;
  }
  .banner-logo {
    max-width: 225px;
  }
  .banner-title {
    font-size: 75px;
  }
  .container-title {
    width: 750px;
    font-size: 52px;
    line-height: 70px;
    border-bottom: 1px solid #d4d4d4;
  }
  .content-title {
    font-size: 32px;
/* 内容卡片中的标题 */
  }
  .content-img {
    height: 160px;
/* 内容卡片-图片容器高度 */
  }
  .content-text {
    padding: 16px 10px;
  }
  .content-text p,
  .content-text blockquote {
    font-size: 18px;
  }
  .content-wrap {
    padding: 55px 0 55px 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .container-title {
    width: 950px;
  }
  .content-item {
    width: 950px;
  }
  .content-img {
    height: 228px;
  }
  .content-text {
    padding: 16px 20px;
  }
  .about-page span,
  .about-me span {
    text-indent: 12px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .container-box {
    padding: 0 110px;
  }
  .about-page span,
  .about-me span {
    text-indent: 2px;
  }
}
.content-item blockquote {
  color: #808080;
  margin: 15px 0;
  padding: 2px 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
.content-item blockquote p {
  margin: 2px 0;
}
.content-item {
  margin: 20px auto 0 auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
/* 内容卡片，位于 banner 下方的卡片、项目的卡片 */
}
.content-img {
  width: 100%;
  background: url("../images/background.jpg") no-repeat;
  overflow: hidden;
/* 内容卡片中的图片容器 */
}
.content-img img {
  width: 100%;
}
.content-text {
  margin: 0;
  padding: 16px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
/* 内容卡片中的文字容器 */
}
.content-title {
  display: block;
  color: #2f2f2f;
  text-overflow: ellipsis;
/* 内容卡片中的标题 */
}
.content-title:hover {
  text-decoration: underline;
}
.content-text p {
  display: inline-block;
  color: #808080;
  margin: 10px 0;
  text-align: justify; /* 两端对齐 */
  line-height: 1.67;
  text-overflow: ellipsis;
/* 内容卡片中的正文 */
}
.content-text .read-btn {
  color: #0085ee;
  text-decoration: underline;
}
.content-btn {
  text-align: right;
}
.content-btn span {
  color: #b9b9b9;
}
.content-btn .btn {
  text-align: right;
}
.lately,
.project {
  background-color: #f9f9f9;
}
.project ul {
  width: 99%;
  margin: 0 auto;
}
.project li {
  display: table-cell;
  width: 1%;
  color: #000;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.project .active {
  color: #0085ee;
  border-bottom: 2px solid #0085ee;
}
.design {
  text-align: center;
  padding-bottom: 20px;
  background: #24282b url("../img/banner_design.jpg") no-repeat;
  background-size: cover;
}
.design-title {
  letter-spacing: 2px;
}
.about {
  padding: 55px 0;
}
.about a {
  color: #0085ee;
  text-decoration: underline;
}
.about-page span,
.about-me span {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  color: #808080;
}
.about-me {
  margin-top: 20px;
}
.footer {
  border-top: 1px solid #edf0f2;
  background-color: #fff;
}
.footer .content {
  padding: 20px 0;
}
.footer p {
  color: #81848f;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
